<h1 style = 'text-align:center'>
Bienvenidos al curso de básicos de python!
</h1>
<center>
<img src = 'https://scontent.fmex10-2.fna.fbcdn.net/v/t1.0-9/118343119_113233783831611_9219337719937477698_o.png?_nc_cat=102&_nc_sid=09cbfe&_nc_ohc=R-1ZQ2HIIS8AX8BJJQ-&_nc_ht=scontent.fmex10-2.fna&oh=903d344ae760a69e7fa26e9803825550&oe=5F9AA7D4'
alt = 'DSC' height = '350' width = '550'>

</center>

# <h3 style='text-align:center'>¿Qué es Python?</h3>

<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/1200px-Python.svg.png' alt='python-logo' height='200' width='200'></img>
<p style='text-align: justify'>Python es un lenguaje de programación interpretado, multiparadigma </p>
<p style='text-align: justify'>Esto significa que los programadores pueden adoptar el estílo que más les convenga, el lenguaje no obliga el uso de algún paradigma en específico. Estos pueden ser los siguientes:
</p>

   - Programación orientada a objetos
    
   - Programación imperativa
    
   - Programación funcional

<h1>Operadores Aritméticos en python<h1>

<h2>Suma</h2>
    <p>Dependiendo de que tipo de dato estemos ocupando el operador suma se comportara diferente forma
    <br>Ejemplo: 
    <br>- 2 enteros
    <br>- 2 float
    <br>- 2 booleano
    <br>- 2 cadenas de caracteres
</p>

In [10]:
#Con 2 enteros 
2 + 2

4

In [14]:
#Con 2 float
1.3 + 1.4

2.7

In [20]:
#Booleano
True + True

5

In [13]:
#Con 2 Cadenas de Caracteres
'Hola' + ' Mundo'

'Hola Mundo'

<h2>Resta</h2>
    <p>Dependiendo de que tipo de dato estemos ocupando el operador resta se comportara diferente forma
    <br>Ejemplo: 
    <br>- 2 enteros
    <br>- 2 float
    <br>- 2 booleano
    <br>- 2 cadenas de caracteres
</p>

In [29]:
#Con 2 enteros 
7 - 2

-0.09999999999999987

In [22]:
#Con 2 float
1.3 - 1.4

-0.09999999999999987

In [25]:
#Booleano
True - True

0

In [49]:
#Con 2 Cadenas de Caracteresdara error ya que este operador no funciona con Strings
#'Hola' - ' Mundo'

<h2>Multiplicacion</h2>
    <p>Dependiendo de que tipo de dato estemos ocupando el operador multiplicacion se comportara diferente forma
    <br>Ejemplo: 
    <br>- 2 enteros
    <br>- 2 float
    <br>- 2 booleano
    <br>- 2 cadenas de caracteres
    <br>- Multiplicar cadenas por un entero
</p>

In [30]:
#Con 2 enteros 
7 * 2

14

In [31]:
#Con 2 float 
7.12 * 2.21

15.7352

In [32]:
#Con 2 enteros 
True * True

1

In [35]:
#Con 2 Cadenas de Caracteres
#Esta operacion nos dara un error como el siguiente 
#TypeError: can't multiply sequence by non-int of type 'str'
#'Hola' * ' Mundo'

In [36]:
#Podemos multiplicar cadenas de caracteres
'Google '*10

'Google Google Google Google Google Google Google Google Google Google '

<h2>Exponente</h2>
    <p>Dependiendo de que tipo de dato estemos ocupando el operador exponente se comportara diferente forma
    <br>Ejemplo: 
    <br>- 2 enteros
    <br>- 2 float
    <br>- 2 booleano
    <br>- 2 cadenas de caracteres
    <br>- Multiplicar cadenas por un entero
</p>

In [37]:
#Con 2 enteros 
7 ** 2

49

In [38]:
#Con 2 float 
7.3 ** 2.1

65.00967670007661

In [40]:
#Con 2 enteros 
True ** True

1

In [43]:
#Con 2 Cadenas de Caracteres
#Esta operacion nos dara un error como el siguiente 
#TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'str'
#'Hola' ** ' Mundo'

<h2>División</h2>
    <p>El operador division regresa las veces que cabe el dividendo en el divisor de manera exacta teniedo en cuenta los decimales
    <br>Ejemplo: 
    <br>- 2 enteros
    <br>- 2 float
</p>

In [60]:
#Division de 2 enteros
2 / 4

0.5

In [61]:
#Division de 2 float
5.5 / 7.7

0.7142857142857143

<h2>División entera</h2>
    <p>El operador division entera solo toma en cuenta cuantas veces entra el dividendo en el divisor sin tener en cuenta el residuo
    <br>Ejemplo: 
    <br>- 2 enteros
    <br>- 2 float
</p>

In [62]:
#Division de 2 enteros
10 // 3

3

In [59]:
#Division de 2 float
105.5 // 7.7

13.0

<h2>Modulo</h2>
    <p>Cuando hacemos la division exacta no tenemos en cuenta el residuo ,la operacion mudulo lo unico que no regresa es ese residuo<br> por ejemplo en la division 10 / 3 el '3' cabe '3' en el 10 y sobra '1' , la operacion division entera nos regresara el '3' y el modulo nos regresara el '1'</p>

In [64]:
#Modulo de 2 enteros
10 // 3

3

In [65]:
#Modulo de 2 enteros
105.5 % 7.7

5.399999999999998

<h2>Variables</h2>
    <p> Una variable se puede entender como una especie de caja en la que se puede guardar un valor (por ejemplo, un valor numérico). <br>Esa caja suele corresponder a una posición de memoria en la memoria del ordenador.</p>

In [75]:
#Creamos un entero
el_entero = 10
#Creamos un float
el_flotante = 15.5
#Creamos una cadena de caracteres
cadena = 'Hola nuevos programadores de python'
#Creamos un un lista
la_lista = ['Pablo', 'Luis','Devars']
#Creamos un bool
la_variable_logica = True

In [76]:
#Ahora veremos que tipo de dato es cada uno de las siguientes variables
print(type(el_entero) , type(el_flotante), type(cadena) , type(la_lista),type(la_variable_logica))

<class 'int'> <class 'float'> <class 'str'> <class 'list'> <class 'bool'>

 <h3 style='text-align:center'>Tipos de datos</h3>

|Tipo | Clase | Notas | Ejemplo
| --  |  --   |--     | --
|str|Cadena|Inmutable|'Cadena'
|unicode|Cadena|Versión Unicode de str|u'Cadena'
|list|Secuencia|Mutable, puede contener objetos de diversos tipos|[4.0, 'Cadena', True]
|tuple|Secuencia|Inmutable, puede contener objetos de diversos tipo|(4.0, 'Cadena', True)
|set|Conjunto|Mutable, sin orden, no contiene duplicados |set([4.0, 'Cadena', True]) 
|frozenset|Conjunto|Inmutable, sin orden, no contiene duplicados |frozenset([4.0, 'Cadena', True]) 
|dict|Mapping|Grupo de pares clave:valor | {'key1': 1.0, 'key2': False} 
|int|Número entero |Precisión fija, convertido en long en caso de overflow. | 42
|long|Número entero |Precisión arbitraria | 42L ó 456966786151987643L 
|float|Número decimal |Coma flotante de doble precisión |3.1415927 
|complex |Número complejo |Parte real y parte imaginaria | (4.5 + 3j) 
|bool |Booleano|Valor booleano verdadero o falso | True o False

<h2>Operadores logicos </h2>
<p>Son los distintos tipos de operadores con los que puede trabajar con valores booleanos

<p>Operador and
<br>Ejemplo :
<br>Axel  programa y Luis programa 
<br>Operador or
<br>Axel programa  o Luis programa
<br>Operador not
<br>No va a la escuela Axel

In [78]:
axel_programa = True 
luis_programa = True
programan_los_dos = axel_programa and luis_programa
print(programan_los_dos)

True

In [80]:
axel_programa = False
luis_programa = False
programa_alguno = axel_programa or luis_programa
print(programa_alguno)

False

In [83]:
axel_v_escuela = False
respuesta = not axel_v_escuela
print(respuesta)

True

In [1]:
def suma(a,b):
    return a + b
print('HOla')

HOla

In [ ]:
# El tipo de dato string se puede 'unir' con ' + ', a esto se le conoce como concatenar. 
string1 = 'La irregularidad la llevo'
string2 = ' en la sangre.'
print(suma(string1,string2))

In [ ]:
x = 1#int
y = 2 #int
z = 3.0 #float
print(suma(x,y)) # int + int = int
print(suma(x,z)) # int + float = float

<h3 style='text-align:center'>Inserte subtitulo</h3>

<h3 style='text-align:center'>Inserte subtitulo</h3>

<h3 style='text-align:center'>Inserte subtitulo</h3>

<h3 style='text-align:center'>Listas</h3>

In [2]:
#Las listas pueden almacenar todos los tipos de datos y se puede ingresar a ellas mediante un indice o iterando sus elementos
variado = ['string', 133, 13.33333, ('estanoesuntuple', 10), {'manzana':'verde', 'fresa':'roja'}]
for i in variado:
    print(i)

print('\n\n', variado[1])

string
133
13.33333
('estanoesuntuple', 10)
{'manzana': 'verde', 'fresa': 'roja'}


 133

In [3]:
#Algunos metodos para trabajar con listas
variado.append('Nuevo elemento') #Añade un nuevo elemento al final de la lista
print(variado, '\n')
variado.pop(3)#Elimina al elemento en el índice indicado
print(variado, '\n')
variado.reverse() #Iniverte el orden de la lista
print(variado, '\n')
'''Otros métodos que existen son:
lista.sort() ordena la lista ascendentemente
lista.count( elemento ) devuelve un valor entero de las veces que se repite 'elemento
lista.clear() vacía la lista
'''

['string', 133, 13.33333, ('estanoesuntuple', 10), {'manzana': 'verde', 'fresa': 'roja'}, 'Nuevo elemento']

['string', 133, 13.33333, {'manzana': 'verde', 'fresa': 'roja'}, 'Nuevo elemento']

['Nuevo elemento', {'manzana': 'verde', 'fresa': 'roja'}, 13.33333, 133, 'string']

"Otros métodos que existen son:\nlista.sort() ordena la lista ascendentemente\nlista.count( elemento ) devuelve un valor entero de las veces que se repite 'elemento\nlista.clear() vacía la lista\n"

<h3 style='text-align:center'>Diccionarios</h3>

In [4]:
# Los diccionarios es una estructura de datos en la cual podemos guardar pares de valores.
empleados = {
    '104': {'Nombre' : 'Juan', 'Puesto' : 'Sistemas'},
    '06' : {'Nombre' : 'Pedro', 'Puesto' : 'Gerente'}
}
print(empleados['104']['Nombre'])

Juan

In [5]:
#Para agregar una entrada al diccionario, en este caso, un nuevo empleado
empleados['203'] = {'Nombre' : 'Eduardo', 'Puesto' : 'Mantenimiento'}
print(empleados)

{'104': {'Nombre': 'Juan', 'Puesto': 'Sistemas'}, '06': {'Nombre': 'Pedro', 'Puesto': 'Gerente'}, '203': {'Nombre': 'Eduardo', 'Puesto': 'Mantenimiento'}}

<h3 style='text-align:center'>List Comprehension</h3>

In [6]:
#Es una bondad de Python, llenar un diccionario o lista en una sola linea de código.

#¿Cómo le hariamos para llenar una lista con todos los números impares hasta el 100?

#Podriamos tener el siguiente código
impares = [] #inicializamos la lista vacia
for i in range(101): #recuerden que el for termina en n-1, o sea que el ultimo número en evaluar sería el 100
    if i % 2 != 0:
        impares.append(i)
    else:
        pass
print(impares)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [7]:
#Ahora con List comprehension!!
imp = [x for x in range(101) if x % 2 != 0]
print(imp)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]